h1{
    font-weight: 700;
    text-align: center;
    line-height: 1.2;
    letter-spacing:-2px ;
}
h2{
    font-weight: 700;url(app.css);
    text-align: center;
    line-height: 1.2;
    letter-spacing:-2px ;
}
h3{
    font-weight: 700;
    text-align: left;
    line-height:1.2;
    letter-spacing :-2px ;
}
p{
    font-weight:400;
    line-height: 1.5;
    
}
a{
    text-decoration: none;
    line-height: 1.5;
}